@import url(./../components/header/header.css);
@import url(./../components/menuLateral/menuLateral.css);
@import url(./main/header/header.css);
@import url(../../../reset.css);

.mainContainer{
    display: flex;
    justify-content: space-between;
    height: 90vh;
}
/* Card Principal*/
.mainContainer__cardPrincipal{
    background-color: white;
    width: 85vw;
    height: 70vh;
    border-radius: 20px;
    align-content: center;

}
