@import url(./../components/header/header.css);
@import url(./../components/menuLateral/menuLateral.css);
@import url(./main/header/header.css);
@import url(../../../reset.css);

.mainContainer{
    display: flex;
    justify-content: space-between;
    height: 100vh;
}
/* Card Principal*/
.mainContainer__cardPrincipal{
    background-color: white;
    width: 85vw;
    height: 70vh;
    border-radius: 20px;
    align-content: center;

}

.grafico {
    width: 60%;
    height: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
}
