<section class="frase row pt-5">
    <article class="frase__fraseButton col-md-8 row" >
        <p class=" offset-md-1 col-md-9 frase__fraseButton__phrase_big ">
            "Se você não encontrar uma maneira de ganhar dinheiro enquanto dorme, vai trabalhar até morrer" - Warren Buffet</p>
        <p class="offset-md-1 col-md-8 frase__fraseButton__phrase ">Na DetoxFin você ira assumir o controle da sua vida financeira. 
            Você tera nas suas mãos as ferramentas necessárias para administrar seu dinheiro e
             parar de postergar sua independência financeira! </p>

             <button class="  offset-3 col-6 mt-5 col-md-5 frase__fraseButton__btn offset-md-2">
                 <a href="/users/new" class="frase__fraseButton__btn__link">
               Cadastra-se</a></button>
    </article>
    <div class="logoPI mt-5 col-md-3">
                   
        <img  class="offset-1 col-6 col-md-12 ml-2" src="/images/wallet.png">
        <h1 class="  offset-1 col-7 col-md-12 logoPI_h1">DetoxFin</h1>
     
    </div>
</section>