<link rel="stylesheet" href="/css/pages/externas/home/components/section.perfilInvestidor.css">



<section class="perfilInvestidor row ">
    <img src="/images/PerfilImagem.jpeg"  class="perfilInvestidor__img col-md-8 col-sm-12">
     <article class="perfilInvestidor__article col-md-4 col-sm-12"  >
         <h2 class="perfilInvestidor__article_title col-sm-">Já sabe qual é o seu perfil investidor?</h2>
         <p class="">
             Saber qual é o seu é essencial para escolher as melhores aplicações financeiras para você!
         </p>
         <p>Seu perfil depende de varios fatores como seus objetivos, apelo pelo risco e tempo.
             Faça o nosso teste e descubta seu perfil!
         </p>
     </article>

 </section>