<link rel="stylesheet" href="/css/pages/externas/home/components/gerenciamento.css">

<section class="gerenciamento row ">
    <article class="gerenciamento1_article col-md-4 col-sm-12">
        <h3 class="gerenciamento1_article_title" >A detoxFin oferece uma carteira completa para voce conseguir analisar seus gastos!</h3>
        <img src="/images/FotoCarteira.jpeg" alt="">
    </article>
  
    
    <article class="gerenciamento2 col-md-5 mt-5  mb-4 col-sm-12">
        <img src="/images/carteira2.png" alt="">
        <h3 class="gerenciamento2_article_title">E outra para poder ficar de olho nos seus investimentos!</h3>
    </article>
</section>