
<section class="gerenciamento row ">

    <div class="gerenciamento_left col-sm-12 offset-md-3">
        <h3 class="gerenciamento1_article_title col-md-6 " >A detoxFin oferece uma carteira completa para voce conseguir analisar seus gastos e seus investimentos!</h3>
        <img class="gerenciamento__img__right col-md-6" src="/images/Graficos.jpeg" alt="">
          
    </div>

   
</section>