
<link rel="stylesheet" href="/css/pages/externas/home/components/section.frase.css">


<section class="mainContainer__frase row">
    <article class="mainContainer__frase__fraseButton col-md-8" >
        <p class="mainContainer__frase__fraseButton__phrase">"If you don't find a way to make money while you sleep you will work until you die" -Warren Buffet</p>
        <p class="mainContainer__frase__fraseButton__phrase">Na DetoxFin você ira assumir o controle da sua vida financeira. 
            Você tera nas suas mãos as ferramentas necessárias para administrar seu dinheiro e
             parar de postergar sua independência financeira! </p>

             <button class="mainContainer__frase__fraseButton__btn"><a href="/users/new" class="mainContainer__frase__fraseButton__btn__link">
               Cadastra-se Agora</a></button>
    </article>
</section>