
<section class="gerenciamento row ">

    <div class="gerenciamento_left col-sm-12 row">
        <h3 class="gerenciamento1_article_title col-md-6 " >A detoxFin oferece uma carteira completa para voce conseguir analisar seus gastos!</h3>
        <img class="gerenciamento__img__right col-md-6" src="/images/Graficos.jpeg" alt="">
          
  
   
    </div>
    
    <div class="col-sm-12 gerenciamento_right row mt-5">
        <img class="gerenciamento__img__right col-md-6" src="/images/Graficos.jpeg" alt="">
        <h3 class="gerenciamento2_article_title col-md-6 mt-5">E outra para poder ficar de olho nos seus investimentos!</h3>
    </div>

   
</section>