<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/css/partials/dados/dados.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.2/css/bulma.min.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dados | DetoxFin</title>
</head>
<body>
    
    <%- include ../../../partials/headerinterno.ejs%>
    <main class="mainContainer">
        <%- include  ../../../partials/menuLateral.ejs %>


    <section class="  mainContainer__dadosContainer">
        <section class=" mainContainer__dadosContainer__minhasInformacoes box ">
            <h1 class="dados__titles">Nome:</h1>
            <span class= "mainContainer__dadosContainer__minhasInformacoes__descricao">Fulana de tal</span>
            <h1 class="dados__titles">Email:</h1>
            <span class= "mainContainer__dadosContainer__minhasInformacoes__descricao">Fulana@email.com</span>
            <h1 class="dados__titles">CPF:</h1>
            <span class= "mainContainer__dadosContainer__minhasInformacoes__descricao">123.456.789-00</span>
            <h1 class="dados__titles">Telefone:</h1>
            <span class= "mainContainer__dadosContainer__minhasInformacoes__descricao">(11)123456789</span>
        </section>
        
        <section class="box mainContainer__dadosContainer__minhaOrganização  ">
            <h1 class= "mainContainer__dadosContainer__minhaOrganização__title dados__titles">Razão Social:</h1>
                 <span class= "mainContainer__dadosContainer__minhaOrganização__descricao"> Patreze Corretora de Seguros</span>                   
                <h1 class="dados__titles"> tipo:</h1>
                <span class= "mainContainer__dadosContainer__minhaOrganização__descricao">Corretora de Seguros</span>
                <h1 class="dados__titles">CNPJ:</h1>
                <span class= "mainContainer__dadosContainer__minhaOrganização__descricao">12.000.678/0001-00</span>
        </section>
        <section class="box mainContainer__dadosContainer__foto">
            <img class="mainContainer__dadosContainer__foto__img" src="/images/Piratas_Heart (2).png" alt="piratas">
            <section>
                hdsadhahkj
                hajsdhkajsdjh
            </section>
        </section>
       
        <section class=" mainContainer__dadosContainer__minhaOrganização__admPortal ">
            <h1>Administração Portal</h1>
        <div class="box">
            <span>Substituir Logo</span>
            <span>Definir Cor de funco</span>
            
        </div>

        </section>
        <div class="settingsBtns">

            <button class="settingsBtns_btn password__btn"><i class="fas fa-user-lock"></i>Alterar Senha</button>
    
            <button class="settingsBtns_btn btn__save">Salvar Alterações</button>
            </div>
    </section>

    </main>
    <footer>

        <p class="copyright"> Copyright © 2021 DetoxFin</p>  
    </footer>
</body>
</html>