
@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";


.card {
    width: 60%;
    margin-top: 2%;
    display: flex;
}

.ganho,.gasto{
    border-radius: 10px;
    width: 70vw;
    padding: 3% 0;
    margin: 3%  0;
}


.ganho {
    border: solid 3px #33CC33;
   
}
.gasto {
    border: solid 3px red;
 
}




.button-color{
    background-color: #33CC33 ;
    color:#ffff;
}

.pagination {
    justify-content:inherit;
}
@media screen and (min-width:0px) {
    .gasto,.ganho {
 
        max-width: 80vw;
    }
      
    .cardPrincipal_carteira__descricao{
        padding-left: 20%                                                                                                                                            ;
    }
}


@media screen and (min-width:700px) {


    .divisor {
        display: flex;
        justify-content: space-around;
        margin-right: 80px;
    }
    .box{
        margin-bottom: 20px;
        min-width:30vw;
        max-width: 70vw;
    }
    .cardPrincipal_carteiraNome{
      font-size:1.75rem;
    }
    .cardPrincipal_carteira{
        font-size:1rem;
    }
    .cardPrincipal_carteira__descricao{
        padding-left: 0px;                                                                                                                                            ;
    }
 
    
   

}

@media (max-width: 768px) {
    .mainContainer {
        height: 90vh;
    }
  
}
