<link rel="stylesheet" href="/css/pages/internas/carteira/main/addCarteira/components/formulario/questionarios/ganho/ganhos.css">

<div id="questionarioGanho row" class="step step-1 no-display">
    <div class="divisor">
        <div class="primeiro">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="descricao" id="salario" value="salario">
                <label class="form-check-label" for="salario">
                    Salario
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="descricao" id="bonificaçao" value="bonificaçao">
                <label class="form-check-label" for="bonificaçao">
                    Bonificação
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="descricao" id="comissao" value="comissao">
                <label class="form-check-label" for="comissao">
                    Comissão
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="descricao" id="decimoterceiro" value="decimoterceiro" >
                <label class="form-check-label" for="decimoterceiro">
                    Décimo terceiro
                </label>
            </div>
        </div>
        <div class="segundo">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="descricao" id="freelance" value="freelance">
                <label class="form-check-label" for="freelance">
                    Freelance
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="descricao" id="beneficio" value="beneficio">
                <label class="form-check-label" for="beneficio">
                    Beneficio
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="descricao" id="previdencia" value="previdencia">
                <label class="form-check-label" for="previdencia">
                    Previdencia
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="descricao" id="rendapassiva" value="rendapassiva">
                <label class="form-check-label" for="rendapassiva">
                    Renda Passiva
                </label>
            </div>
        </div>
    </div>
    <div class="form-check outro">
        <label class="form-text" for="outro">
            Outro
         </label>
        <input class="form-control" type="text" name="descricaoOutro" id="outro">
    </div>
    
</div>