.gerenciamento {
    padding-top: 3%;
    padding-bottom: 3%;
    
}


.gerenciamento1_article_title, .gerenciamento2_article_title {
    align-items: center;
}

.gerenciamento1_article_title {
    text-align: center;
    padding-left: 5%;
    width: 50%;
    padding-right: 5%;


}

.gerenciamento__img__right{
    width: 100%;
}
.gerenciamento2_article_title {
    text-align: end;
    
}

.gerenciamento_img {
    max-width: 900px;

    
}



