.gerenciamento {
    padding-top: 3%;
    padding-bottom: 3%;
}


.gerenciamento1_article_title, .gerenciamento2_article_title {
    align-items: center;
}

.gerenciamento1_article_title {
    text-align: center;
    padding-left: 5%;
    width: 50%;
    padding-right: 5%;


}
.gerenciamento2_article_title {
    text-align: end;
    padding-right: 7%;
}

.gerenciamento_img {
    max-width: 900px;

    
}

.gerenciamento_divImg {
    display: flex;
    justify-content: center;
    padding-top: 3%;
    padding-bottom: 3%;
}

.img_left {
    padding-right: 10% ;
}
.img_right {
    padding-left: 10%;
}