.mainContainer__frase{
    padding-top: 5%;
    margin-left: auto;
    margin-right: auto;
}


.mainContainer__frase__fraseButton {
    padding-left: 10%;
  }
  
  .mainContainer__frase__fraseButton__phrase  {
    font-weight: 700;
   
  }
  
  .frase-button :nth-child(1) {
    color: black;
    font-size: 20px;
    width: 550px;
    text-align: center;
  }
  
  .mainContainer__frase__fraseButton__btn{
    
    color: white;
    background: #33cc33;
    width: 300px;
    height: 50px;
    border: none;
    border-radius: 10px;
    ;
  }
  .mainContainer__frase__fraseButton__btn__link{
    color :white;
    font-size: 15px;
    font-weight: 700;
    text-decoration: none;
  }