
 
  .frase__fraseButton__phrase_big {
    font-size: 20px;
    font-weight: 700;
  }
  .frase__fraseButton__phrase  {
    font-weight: 700;
    font-size: 16px;
   
  }

  .frase__fraseButton__btn__link:hover {
    color: black;
  }
  
  .frase-button :nth-child(1) {
    color: black;
    font-size: 20px;
    width: 550px;
    text-align: center;
  }
  
  .frase__fraseButton__btn{
    color: white;
    background: #33cc33;
    width: 300px;
    height: 50px;
    border: none;
    border-radius: 10px;
    margin-top: 2%;
  }
  .frase__fraseButton__btn__link{
    color :white;
    width: 100%;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
  }



.logoPI img {
  max-width: 180px; 
  padding-left: 20%;
}
.logoPI_h1 {

  font-weight: 600;
  font-size: 50px; 
  font-weight: 700;
}


@media screen and (min-width:0px) {
  .logoPI img {
    width: 50%;
  }

}