
.mainContainer{
    background-color: #33cc33;
    display: flex;
    justify-content: space-around;

    
}


@media screen and (min-width:0) {
    .mainContainer {
        height: 100vh;
        width: 100%;
    }  
    
}