<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <!--CSS Imports -->
    <link rel="stylesheet" href="/css/pages/internas/graficos/index.css" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Graficos | DetoxFin</title>
  </head>
  <body class="app">
    <%- include("../components/headerInterno",{ usuario })%>
    <main class="mainContainer">
      <%- include ../components/menuLateral %>
      <section class="mainContainer__cardPrincipal">
        <section class="cardPrincipal__carteira row">
          <h1 class="cardPrincipalh1 offset-4 col-md-4">Graficos</h1>
          <%- include components/graficos/graficos.ejs %>
        </section>
      </section>
    </main>
  </body>
</html>
