
            
<header class="cabecalho">
            
            
    <img src="/images/logoBranco.png" class="cabecalho__logo" alt="">

   
    <div class="usuarioDados">
        <img src="/images/perfil.png" alt="kajihais" class="cabecalho__usuarioDados__imgPerfil">
        <span class="cabecalho__usuarioDados__nomeCliente">Lia Moreira</span>
        
    </div>
</header>
 