
<link rel="stylesheet" href="css/components/headerExterno/header.css">


<header class="cabecalho">
    <a class="cabecalho__logo" href="/">DetoxFin</a>
    <div class="cabecalho__butons">
      <button class="cabecalho__butons_btn" ><a href="/users/new">Cadastra-se</a></button>

      <button class="cabecalho__butons_btn" ><a href="/users/auth">Fazer Login</a></button>
    </div>
  </header>
  <script src="../js/addedClass.js"></script>