
<link rel="stylesheet" href="css/components/headerExterno/header.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<header class="cabecalho">
    <a class="cabecalho__logo" href="/">DetoxFin</a>
    <div class="cabecalho__butons">
      <button class="cabecalho__butons_btn" ><a href="/users/new">Cadastra-se</a></button>

      <a href="/users/auth"><button class="cabecalho__butons_btn" >Fazer Login</button></a>
    </div>

    <i class="fas fa-bars menu-mobile"></i>
  </header>
  <script src="../js/addedClass.js"></script>
