
<header class="cabecalho">
    <a class="cabecalho__logo" href="/">DetoxFin</a>
    <div class="cabecalho__butons menu-desktop">
      <button class="cabecalho__butons_btn btn_cadastrar" ><a href="/users/new">Cadastra-se</a></button>

      <button class="cabecalho__butons_btn  btn_login " ><a href="/users/auth">Fazer Login</button></a>
    </div>

    <i class="fas fa-bars menu-mobile"></i>
  </header>
  <script src="../js/addedClass.js"></script>
