<link rel="stylesheet" href="/css/partials/menuLateral/menuLateral.css">


<aside class="mainContainer__menuLateral">
    <nav>
        <ul>
             <li class="mainContainer__menuLateral__menuItem">
                 <a class="mainContainer__menuLateral__menuLink" href="/users/minhaCarteira">
                     <img class="mainContainer__menuLateral__menuIcon" src="/images/wallet.png"/>Minha Carteira
                 </a>
             </li>
             <li class="mainContainer__menuLateral__menuItem">
                 <a class="mainContainer__menuLateral__menuLink" href="/users/meusInvestimentos">
                     <img class="mainContainer__menuLateral__menuIcon" src="/images/meusinvestimentos.png"/>Meus Investimentos
                 </a>
             </li>
             <li class="mainContainer__menuLateral__menuItem">
                 <a class="mainContainer__menuLateral__menuLink" href="/users/user/graficos">
                     <img class="mainContainer__menuLateral__menuIcon" src="/images/graficos.png"/>Gráficos
                 </a>
             </li>
             <li class="mainContainer__menuLateral__menuItem">
                 <a class="mainContainer__menuLateral__menuLink" href="/users/perfilInvestidor">
                     <img class="mainContainer__menuLateral__menuIcon" src="/images/perfili.png"/>Perfil Investidor
                 </a>
             </li>
             <li class="mainContainer__menuLateral__menuItem">
                 <a class="mainContainer__menuLateral__menuLink" href="/users/cursos">
                     <img class="mainContainer__menuLateral__menuIcon" src="/images/cursos.png"/>Cursos
                 </a>
             </li>
             <li class="mainContainer__menuLateral__menuItem">
                 <a class="mainContainer__menuLateral__menuLink" href="/users/dadosDaConta">
                     <img class="mainContainer__menuLateral__menuIcon" src="/images/dados.png"/>Dados da Conta
                 </a>
             </li>
             <li class="mainContainer__menuLateral__menuItem">
                 <a class="mainContainer__menuLateral__menuLink" href="/">
                     <img class="mainContainer__menuLateral__menuIcon" src="/images/sair.png"/>Sair
                 </a>
             </li>
         </ul>
    </nav>
</aside>