@import url('../../reset.css');
@import url('../headerInterno/header.css');
@import url('../menuLateral/menuLateral.css');
.mainContainer{
    display: flex;
    justify-content: space-between;
    height: 60vh;

   
}
 
/* Card Principal*/
.mainContainer__cardPrincipal{
   
    background-color: white;
    width: 85vw;
    height: 70vh;
    border-radius: 20px;
    align-content: center;
    position: relative;
    bottom: 10vh;
    }

    

.card-principal-h1{
       font-size: 40px;
       padding-top: 50px;
       padding-left: 40px;
   }
   #divBusca{
    background-color:#b8b8b8;
    border:none;
    border-radius:15px;
    width:200px;
    height: 30px;
    display:flex;
    justify-content: left;
    margin-top: 10px;
    margin-left: 10px;
  }
  
  #txtBusca{
  
    background-color:transparent;
    padding-left:5px;
    font-style:italic;
    font-size:18px;
    border:none;
    height:32px;
    width:260px;
  }

h1{
  display:flex;
  justify-content: center;

}

.imgGrafico{
    display: flex;
    justify-content:space-around;
  
}

.grafico1{
  width:20vw;
  height:60vh
  }   
