@import url('../../reset.css');
@import url('../headerInterno/header.css');
@import url('../menuLateral/menuLateral.css');
@import "https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css";

.mainContainer{
    display: flex;
    justify-content: space-between;
    height: 120vh;
}
/* Card Principal*/
.mainContainer__cardPrincipal{
    background-color: white;
    width: 85vw;
    height: 70vh;
    border-radius: 20px;
    align-content: center;
    position: relative;
    bottom: 10vh;
}

.divisor {
    display: flex;
}
.entrada {
    
    width: 50%;
}

.saida {
    width: 50%;
}