<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <!--CSS Imports -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/reset.css">
        <link rel="stylesheet" href="/css/partials/perfilinvestidor/perguntas.css">
       
        <!--Font Awsome-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        
        
     
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body class="app">

        <%- include("../../../components/headerInterno.ejs",{
            usuario
        })%>

        <main class="mainContainer">
            <%- include  ../../../components/menuLateral.ejs %>

            <section class="mainContainer__cardPrincipal">
               
                <div class="logoPI">
                   
                    <img src="/images/wallet.png">
                    <h1 class="logoPI_h1">DetoxFin</h1>
                 
                </div>
        
                <form action="/user/perfilInvestidor/pergunta1" method="POST">
                    <!--Pergunta 1-->
                    <div class="step step-1 active">
                        <p class="perguntaPI_p">Para que você investe ou investiria seu dinheiro?</p>
                        <div class="resposta form-check">
                            <input class="form-check-input" type="radio" name="pergunta1" value="a" id="resposta1">
                            <label class="form-check-label" for="resposta1">
                                Para não ficar com o dinheiro parado na minha conta e correr o risco de gastar
                            </label>
                        </div>
                        <div class="resposta form-check">
                            <input class="form-check-input" type="radio" name="pergunta1" value="b" id="resposta2">
                            <label class="form-check-label" for="resposta2">
                                Para conseguir realizar alguns sonhos
                            </label>
                        </div>
                        <div class="resposta form-check">
                            <input class="form-check-input" type="radio" name="pergunta1" value="c" id="resposta3">
                            <label class="form-check-label" for="resposta3">
                                Para obter rendimento e conseguir multiplicar minha renda
                            </label>
                        </div>
                        <button type="button" class="next-btn">Proximo</button>
                    </div>
                    <!--Pergunta 2-->
                    <div class="step step-2">
                        <p class="perguntaPI_p">Você aceitaria perder alguma porcentagem do recurso investido?</p>
                        <div class="resposta form-check">
                            <input class="form-check-input" type="radio" name="pergunta2" value="a">
                            <label class="form-check-label" for="pergunta2">
                                Não aceito ter prejuízo de nenhuma forma
                            </label>
                        </div>
                        <div class="resposta form-check">
                            <input class="form-check-input" type="radio" name="pergunta2" value="b">
                            <label class="form-check-label" for="pergunta2">
                                Se a quantia for pequena, tudo bem
                            </label>
                        </div>
                        <div class="resposta form-check">
                            <input class="form-check-input" type="radio" name="pergunta2" value="c">
                            <label class="form-check-label" for="pergunta2">
                                Aceito correr o risco, se tiver a possibilidade de ganhos maiores
                            </label>
                        </div>
        
                        <button type="button" class="previous-btn">Anterior</button>
                        <button type="button" class="next-btn">Proximo</button>
                    </div>
                    <!--Pergunta 3-->
                    <div class="step step-3">
                        <p class="perguntaPI_p">Como você poupa rendas extras, como 13º salário, restituição de IRPF, etc.?</p>
                        <div class="resposta form-check">
                            <input class="form-check-input" type="radio" name="pergunta3" value="a">
                            <label class="form-check-label" for="pergunta3">
                                Invisto em aplicações seguras
                            </label>
                        </div>
                        <div class="resposta form-check">
                            <input class="form-check-input" type="radio" name="pergunta3" value="b">
                            <label class="form-check-label" for="pergunta3">
                                Coloco a maior porcentagem em investimentos sem riscos e uma pequena parte em modalidades mais arrojadas
                            </label>
                        </div>
                        <div class="resposta form-check">
                            <input class="form-check-input" type="radio" name="pergunta3" value="c">
                            <label class="form-check-label" for="pergunta3">
                                Aplico boa parte dos meus recursos em investimentos de risco, que possuem maiores chances de rendimentos altos e a menor parte em modalidades mais conservadoras
                            </label>
                        </div>
        
                        <button type="button" class="previous-btn">Anterior</button>
                        <button type="button" class="next-btn">Proximo</button>
                    </div>
                    <!--Pergunta 4-->
                    <div class="step step-4">
                        <p class="perguntaPI_p">Como se planeja para a aposentadoria?</p>
                        <div class="resposta form-check">
                            <input class="form-check-input" type="radio" name="pergunta4" value="a">
                            <label class="form-check-label" for="pergunta4">
                                Poupo e invisto em uma aplicação de baixo risco
                            </label>
                        </div>
                        <div class="resposta form-check">
                            <input class="form-check-input" type="radio" name="pergunta4" value="b">
                            <label class="form-check-label" for="pergunta4">
                                Parte do que guardo coloco em um fundo conservador e outra parte (menor) em investimentos mais agressivos
                            </label>
                        </div>
                        <div class="resposta form-check">
                            <input class="form-check-input" type="radio" name="pergunta4" value="c">
                            <label class="form-check-label" for="pergunta4">
                                Sempre distribuo meus recursos em investimentos que gerem alto retorno financeiro
                            </label>
                        </div>
        
                        <button type="button" class="previous-btn">Anterior</button>
                        <button type="button" class="next-btn">Proximo</button>
                    </div>
                    <!--Pergunta 5-->
                    <div class="step step-2">
                        <p class="perguntaPI_p">Para você, ter um futuro sustentável financeiramente significa:</p>
                        <div class="resposta form-check">
                            <input class="form-check-input" type="radio" name="pergunta5" value="a">
                            <label class="form-check-label" for="pergunta5">
                                Ter segurança financeira, ainda que seja pouca quantia
                            </label>
                        </div>
                        <div class="resposta form-check">
                            <input class="form-check-input" type="radio" name="pergunta5" value="b">
                            <label class="form-check-label" for="pergunta5">
                                Guardar a maior parte do dinheiro de maneira cautelosa e, ao mesmo tempo, separar uma parte menor para conseguir um rendimento maior
                            </label>
                        </div>
                        <div class="resposta form-check">
                            <input class="form-check-input" type="radio" name="pergunta5" value="c">
                            <label class="form-check-label" for="pergunta5">
                                Ter cada vez mais dinheiro rendendo, ainda que tenha riscos
                            </label>
                        </div>
        
                        <button type="button" class="previous-btn">Anterior</button>
                        <button type="button" class="next-btn">Proximo</button>
                    </div>
                    <!--Pergunta 6-->
                    <div class="step step-4">
                        <p class="perguntaPI_p">O que faria você mudar seu planejamento financeiro?</p>
                        <div class="resposta form-check">
                            <input class="form-check-input" type="radio" name="pergunta4" value="a">
                            <label class="form-check-label" for="pergunta6">
                                Apenas situações emergenciais
                            </label>
                        </div>
                        <div class="resposta form-check">
                            <input class="form-check-input" type="radio" name="pergunta4" value="b">
                            <label class="form-check-label" for="pergunta6">
                                Diante de alguma emergência ou chance de ganhar mais dinheiro
                            </label>
                        </div>
                        <div class="resposta form-check">
                            <input class="form-check-input" type="radio" name="pergunta4" value="c">
                            <label class="form-check-label" for="pergunta6">
                                Se houver alguma emergência, chance de ter mais rendimentos e anseio por novos desafios
                            </label>
                        </div>
        
                        <button type="button" class="previous-btn">Anterior</button>
                        <button type="button" class="next-btn">Proximo</button>
                    </div>
                    <!--Pergunta 7-->
                    <div class="step step-4">
                        <p class="perguntaPI_p">Sua principal fonte de renda é…</p>
                        <div class="resposta form-check">
                            <input class="form-check-input" type="radio" name="pergunta7" value="a">
                            <label class="form-check-label" for="pergunta4">
                                Aposentadoria
                            </label>
                        </div>
                        <div class="resposta form-check">
                            <input class="form-check-input" type="radio" name="pergunta7" value="b">
                            <label class="form-check-label" for="pergunta4">
                                Salário fixo
                            </label>
                        </div>
                        <div class="resposta form-check">
                            <input class="form-check-input" type="radio" name="pergunta7" value="c">
                            <label class="form-check-label" for="pergunta4">
                                Salário e rendimento de investimentos
                            </label>
                        </div>
        
                        <button type="button" class="previous-btn">Anterior</button>
                        <button type="button" class="next-btn">Proximo</button>
                    </div>
                    <!--Pergunta 8-->
                    <div class="step step-4">
                        <p class="perguntaPI_p">Você investe ou investiria seu dinheiro seguindo alguma especulação?</p>
                        <div class="resposta form-check">
                            <input class="form-check-input" type="radio" name="pergunta8" value="a">
                            <label class="form-check-label" for="pergunta4">
                                Não, isso está fora de cogitação
                            </label>
                        </div>
                        <div class="resposta form-check">
                            <input class="form-check-input" type="radio" name="pergunta8" value="b">
                            <label class="form-check-label" for="pergunta4">
                                Talvez uma pequena parte do meu dinheiro
                            </label>
                        </div>
                        <div class="resposta form-check">
                            <input class="form-check-input" type="radio" name="pergunta8" value="c">
                            <label class="form-check-label" for="pergunta4">
                                Investiria, porque o risco é proporcional aos ganhos
                            </label>
                        </div>
        
                        <button type="button" class="previous-btn">Anterior</button>
                        <button type="button" class="next-btn">Proximo</button>
                    </div>
                    <!--Pergunta 9-->
                    <div class="step step-4">
                        <p class="perguntaPI_p"> Tem o costume de acompanhar as variações de mercado dos investimentos?</p>
                        <div class="resposta form-check">
                            <input class="form-check-input" type="radio" name="pergunta9" value="a">
                            <label class="form-check-label" for="pergunta4">
                                Não vejo nada sobre isso
                            </label>
                        </div>
                        <div class="resposta form-check">
                            <input class="form-check-input" type="radio" name="pergunta9" value="b">
                            <label class="form-check-label" for="pergunta4">
                                Procuro informações apenas dos quais aplico
                            </label>
                        </div>
                        <div class="resposta form-check">
                            <input class="form-check-input" type="radio" name="pergunta9" value="c">
                            <label class="form-check-label" for="pergunta4">
                                Acompanho tudo, pois tenho interesse em várias modalidades
                            </label>
                        </div>
        
                        <button type="button" class="previous-btn">Anterior</button>
                        <button type="button" class="next-btn">Proximo</button>
                    </div>
                    <!--Pergunta 10-->
                    <div class="step step-4">
                        <p class="perguntaPI_p">Qual é o seu principal objetivo financeiro para o futuro?</p>
                        <div class="resposta form-check">
                            <input class="form-check-input" type="radio" name="pergunta10" value="a">
                            <label class="form-check-label" for="pergunta4">
                                Segurança é tudo o que importa para mim
                            </label>
                        </div>
                        <div class="resposta form-check">
                            <input class="form-check-input" type="radio" name="pergunta10" value="b">
                            <label class="form-check-label" for="pergunta4">
                                Quero segurança, mas também quero poder curtir a vida
                            </label>
                        </div>
                        <div class="resposta form-check">
                            <input class="form-check-input" type="radio" name="pergunta10" value="c">
                            <label class="form-check-label" for="pergunta4">
                                Meu objetivo é acumular riquezas
                            </label>
                        </div>
    
                        <button type="button" class="previous-btn">Anterior</button>
                        <button type="submit" class="submit-btn">Enviar</button>
                    </div>
                </form>
        
        
        
            </section>
    </main>
      <script src="/js/perfilInvestidor.js"></script>
    </body>

</html>