@import url(../../../reset.css);
@import url(../components/headerExterno/header.css);
@import url(./components/sections.css);
.mainContainer{ 
    background-color: #ffff;
    border-radius: 20px;


}

@media screen  and (min-width:700px){
  .mainContainer{
    position: relative;
    width: 90%;
    margin-left: 5%;
    height: 80vh;
    top: -100px;
  }
}



