.cabecalho{
    grid-column: 1/  span 12;
    display: flex;
    flex-direction: column;
    height: 250px;
    padding-top: 50px;
    padding-left: 50px;
    background-color: #33cc33;

}

.cabecalho__logo{
    width: 100px;
    margin: 0 auto;
    margin-top: -25px;
}

.usuarioDados{
    display: flex;
    flex-direction: column;
    padding-top: 30px;
   
}
.cabecalho__usuarioDados__imgPerfil{
    width: 70px;
    

    
}
.cabecalho__usuarioDados__nomeCliente{
    display: block;
    padding-top: 10px;
    color: white;
}


@media screen and (min-width:0) and (max-width:750px) {
    .usuarioDados{
        display: none;
    }
}

@media screen and (min-width:758px) {
    .usuarioDados{
        display: block;
    }
}