.cabecalho{
    grid-column: 1/  span 12;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between ;
    height: 150px;
    padding-top: 50px;
    padding-left: 50px;
    background-color: #33cc33;
    

}
.title_logo {
    text-decoration: none;
    color: white;
    font-size: 30px;
    margin-right: 10%;
    font-weight: 600;
}
.title_logo:hover {
    color: white;
}
.cabecalho__logo{
    width: 100px;
    margin: 0 auto;
    margin-top: -25px;
    vertical-align: middle;
}

.usuarioDados{
    display: flex;
    flex-direction: column;
    padding-top: 30px;
   
}
.cabecalho__usuarioDados__imgPerfil{
    width: 70px;
  
}
.cabecalho__usuarioDados__nomeCliente{
    display: block;
    padding-top: 10px;
    color: white;
}


@media screen and (min-width:0) and (max-width:750px) {
    .usuarioDados{
        display: none;
    }
}

@media screen and (min-width:758px) {
    .usuarioDados{
        display: block;
    }
}