<!DOCTYPE html>
<html>
  <head>
    <title>DetoxFin</title>
      <link rel="stylesheet" href="/css/pages/externas/singup/main.css">
  </head>
  <body>

    <%- include ../components/header.ejs %>
    <%- include ./components/form.ejs%>
    
    <script src="/js/addedClass.js"></script>
  </body>
  
</html>
