<!DOCTYPE html>
<html>
  <head>
    <title>DetoxFin</title>
    <link rel="stylesheet" href="/css/reset.css">
  </head>
  <body>

    <%- include ../components/header.ejs %>
    <%- include ./components/form.ejs%>
    

  </body>
  
</html>
