<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <link rel="stylesheet" href="/css/partials/meusInvestimentos/addInvestment.css">
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>DetoxFin | Investimentos</title>
    </head>
    <body>
        <%- include("../../../partials/headerinterno.ejs",{
           
        })%>

        <main class="mainContainer">

            <%- include  ../../../partials/menuLateral.ejs %>
            
            <section class="mainContainer__cardPrincipal">
            
            <%-include headerInvestimentos.ejs %>
            <div class="formulario">

                <h1 class="title">Adicionar Investimento</h1>

                
                <form method="POST" action="/user/meusInvestimentos/addInvestimento">
                    <div class="divisor">
                        <div class="primeiro">
                            <!--Pergunta nome do Investimento-->
                            <div class="field">
                                <label class="formInvestment_field_label" for="nome">Nome do Investimento</label>
                                <div class="control">
                                    <input class="input" type="text" name="nome" autocomplete="off" required/>
                                </div>
                            </div>
                            <!--Pergunta Valor-->
                            <div class="field">
                                <label class="formInvestment_field_label" for="valor">Valor(R$)</label>
                                <div class="control">
                                     <input class="input" type="number" name="valor" autocomplete="off" required/>
                                </div>
                            </div>
                        </div>
                        <div class="segundo">
                            <!--Pergunta data inicial-->
                            <div class="field">
                                <label class="formInvestment_field_label" for="date">Data Inicial do Investimento</label>
                                <div class="control">
                                    <input class="input" type="date" name="inicialDate" autocomplete="off" required/>
                                </div>
                            </div>
                                    
                            <!--Pergunta Renda Fixa ou Variavel-->
                            <div class="field">
                                <label class="formInvestment_field_label">Renda</label>
                                <div class="control">
                                    <select id="renda" name="renda" class="input" onchange="gerarTipos(this.value)" >
                                        <option></option>
                                        <option  value="fixa">Renda Fixa</option>
                                        <option  value="variavel">Renda Variavel</option>
                                    </select>
                                </div>
                            </div>
                        </div> 
                    </div>
                            
                    <!--Pergunta tipo de investimento-->
                    <div class="field">
                        <label class="formInvestment_field_label">Tipo de Investimento</label>
                        <div class="control">
                            <select id="tipo" name="tipo" class="input " >
                            </select>
                        </div>
                    </div>
                            
                    <!--formulario muda depende da opção tipo-->
                    
                    <div id="QtesouroDireto" class="step step-1 no-display">
                        <div class="divisor">
                            <div class="w33">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="descricao" id="prefixado" value="prefixado">
                                    <label class="form-check-label" for="prefixado">
                                        Titulo PreFixado
                                    </label>
                                </div>

                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="descricao" id="selic" value="selic">
                                    <label class="form-check-label" for="selic">
                                        Tesouro Selic(pós-fixado)
                                    </label>
                                </div>

                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="descricao" id="ipca" value="ipca">
                                    <label class="form-check-label" for="ipca">
                                        Tesouro IPCA+
                                    </label>
                                </div>
                            </div>
                            <div class="w33">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="juros" id="semjuros" value="semjuros">
                                    <label class="form-check-label" for="semjuros">
                                        Sem pagamento de juros semestrais
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="juros" id="comjuros" value="comjuros">
                                    <label class="form-check-label" for="comjuros">
                                        Com pagamento de juros semestrais
                                    </label>
                                </div>
                            </div>
                            <div class="w33">
                                <label class="formInvestment_field_label" for="number">Ano de Vencimento</label>
                                    <div class="control">
                                        <input class="input" type="number" name="vencimento Direto" autocomplete="off" />
                                    </div>
                            </div>
    
                        </div>


                    </div>
                    <div id="QtitulosPrivados" class="step step-2 no-display">
                        <div class="divisor">
                            <div class="w33">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="descricao" id="cdb" value="cdb">
                                    <label class="form-check-label" for="cdb">
                                        CDB
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="descricao" id="lc" value="lc">
                                    <label class="form-check-label" for="lc">
                                        LC
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="descricao" id="lca" value="lca">
                                    <label class="form-check-label" for="lca">
                                        LCA
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="descricao" id="lf" value="lf">
                                    <label class="form-check-label" for="lf">
                                        LF
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="descricao" id="lci" value="lci">
                                    <label class="form-check-label" for="lci">
                                        LCI
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="descricao" id="cri" value="cri">
                                    <label class="form-check-label" for="cri">
                                        CRI
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="descricao" id="cra" value="cra" >
                                    <label class="form-check-label" for="cra">
                                        CRA
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="descricao" id="debentures" value="debentures">
                                    <label class="form-check-label" for="debentures">
                                        Debêntures
                                    </label>
                                </div>
                            </div>
                            <div class="w33">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="juros" id="semjuros" value="semjuros">
                                    <label class="form-check-label" for="semjuros">
                                        Sem pagamento de juros semestrais
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="juros" id="comjuros" value="comjuros">
                                    <label class="form-check-label" for="comjuros">
                                        Com pagamento de juros semestrais
                                    </label>
                                </div>
                            </div>
                            <div class="w33">
                                       
                                <label class="formInvestment_field_label" for="text">Orgão Emissor</label>
                                    <div class="control">
                                        <input class="input" type="text" name="emissorPrivado" autocomplete="off" />
                                    </div>
                                        
                                <label class="formInvestment_field_label" for="number">Ano de Vencimento</label>
                                    <div class="control">
                                        <input class="input" type="number" name="vencimentoPrivado" autocomplete="off" />
                                    </div>
                            </div>
    
                        </div>
                    </div>

                    <div id="QfundoInvestimentoFixa" class="step step-2 no-display">
                        <div class="divisor">
                            <div class="w33">
                                <label class="formInvestment_field_label" for="text">Orgão Emissor</label>
                                <div class="control">
                                    <input class="input" type="text" name="emissorfundoFixa" autocomplete="off"/>
                                </div>
                            </div>
                            <div class="w33">
                                <label class="formInvestment_field_label" for="number">CNPJ do Fundo</label>
                                <div class="control">
                                    <input class="input" type="number" name="cnpjfundoFixa" autocomplete="off" />
                                </div>
                            </div>
                            <div class="w33">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="juros" id="semjuros" value="semjuros">
                                    <label class="form-check-label" for="semjuros">
                                        Sem pagamento de juros semestrais
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="juros" id="comjuros" value="comjuros">
                                    <label class="form-check-label" for="comjuros">
                                        Com pagamento de juros semestrais
                                    </label>
                                </div>
                            </div>
                                    
                        </div>
                    </div>

                    <div id="QfundoInvestimentoVariavel" class="step step-2 no-display">
                        <div class="divisor">
                            <div class="w33">
                                <label class="formInvestment_field_label" for="text">Orgão Emissor</label>
                                <div class="control">
                                    <input class="input" type="text" name="emissorfundoVariavel" autocomplete="off" />
                                </div>
                            </div>
                            <div class="w33">
                                <label class="formInvestment_field_label" for="number">CNPJ do Fundo</label>
                                <div class="control">
                                    <input class="input" type="number" name="cnpjfundoVariavel" autocomplete="off" />
                                </div>
                            </div>
                             <div class="w33">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="juros" id="semjuros" value="semjuros">
                                    <label class="form-check-label" for="semjuros">
                                        Sem pagamento de juros semestrais
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="juros" id="comjuros" value="comjuros" >
                                    <label class="form-check-label" for="comjuros">
                                        Com pagamento de juros semestrais
                                    </label>
                                </div>
                            </div>
                                    
                        </div>
                    </div>
                    
                    <input class="button" type="submit" value="Adicionar">
                </form> 
            </div>   
        </main> 
        
       
     <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>      
    
    </body>
 
    <script src="../js/addedClass.js"></script>
    <script type="text/javascript" src="/js/addInvestmentRenda.js"></script>
    <script type="text/javascript" src="/js/addInvestimentoTipo.js"></script>
</html>