<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <link rel="stylesheet" href="/css/partials/meusInvestimentos/addInvestment.css">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>DetoxFin | Investimentos</title>
    </head>
    <body>
        <%- include ../../partials/headerInterno.ejs%>
        <main class="mainContainer">
            <%- include  ../../../partials/menuLateral.ejs %>
            
        <section class="mainContainer__cardPrincipal">
            
            <h1>Meus Investimentos</h1>    
            <div>
                <p>Formulario para preencher investimento</p>
            </div>
        </main> 
        
        <footer>

            <p class="copyright"> Copyright © 2021 DetoxFin</p>  
        </footer>
           
    </body>
</html>