<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <link rel="stylesheet" href="/css/partials/meusInvestimentos/addInvestment.css">
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>DetoxFin | Investimentos</title>
    </head>
    <body>
        <%- include("../../../partials/headerinterno.ejs",{
            usuario
        })%>

        <main class="mainContainer">

            <%- include  ../../../partials/menuLateral.ejs %>
            
            <section class="mainContainer__cardPrincipal">
            
            <%-include headerInvestimentos.ejs %>
            <div class="formulario">

                <h1 class="title">Formulario para adicionar Investimento</h1>

                <form class="formInvestment" action="/user/meusInvestimentos/addInvestment" method="POST">
                    <div class="row">
                        <div class=" col-md-5 offset-md-1 col-sm-12" >
                            <!--Pergunta nome do Investimento-->
                            <div class="field">
                                <label class="formInvestment_field_label" for="nome">Nome do Investimento</label>
                                <div class="control">
                                    <input class="input" type="text" name="nome" autocomplete="off" required/>
                                </div>
                            </div>
                             <!--Pergunta Valor-->
                             <div class="field">
                                <label class="formInvestment_field_label" for="valor">Valor(R$)</label>
                                <div class="control">
                                    <input class="input" type="number" name="valor" autocomplete="off" required/>
                                </div>
                            </div>
                            <!--Pergunta data inicial-->
                            <div class="field">
                                <label class="formInvestment_field_label" for="date">Data Inicial do Investimento</label>
                                <div class="control">
                                    <input class="input" type="date" name="inicialDate" autocomplete="off" required/>
                                </div>
                            </div>
                            
                            <!--Pergunta Renda Fixa ou Variavel-->
                            <label class="formInvestment_field_label">Renda</label>
                        
                            <select id="renda" class=" col-sm-12 tipoInvestimento" onchange="gerarTipos(this.value)" >
                                <option></option>
                                <option value="fixa">Renda Fixa</option>
                                <option value="variavel">Renda Variavel</option>
                            </select>
                            
                            <!--Pergunta tipo de investimento-->
                            <label class="formInvestment_field_label">Tipo de Investimento</label>
                            <select id="tipo" class=" col-sm-12 tipoInvestimento">
                            </select>
                            
                        </div>
                        <div class=" col-md-5 offset-md-1 col-sm-12">
                            
                            

                        </div>
                    </div>
                    <div class="container-button row">
                    <input class="button  offset-4 col-md-2 col-sm-5"  type="submit" value="Criar">
                    </div>
                </form>
            </div>   
        </main> 
        
       
     <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>      
    
    </body>
 
    <script src="../js/addedClass.js"></script>
    <script type="text/javascript" src="/js/addInvestmentRenda.js"></script>
</html>