<link rel="stylesheet" href="/css/partials/meusInvestimentos/headerInvestment.css">

<header class="container">
    <h1 class="titleDoHeader">Meus Investimentos</h1>
    <div class="teste">
        
        <ul class="teste">
            <li class="menuInvestiment_link">
                <a class="menuInvestiment_link_a" href="/user/meusInvestimentos">
                    <img class="icon" src="/images/iconGrafico,headerInvestment.jpg"/>
                </a>
            </li>
            <li class="menuInvestiment_link">
                <a class="menuInvestiment_link_a" href="/user/meusInvestimentos/listInvestment">
                    <img class="icon" src="/images/iconLista,headerInvestment.png"/>
                </a>
            </li>
            <li class="menuInvestiment_link">
                <a class="menuInvestiment_link_a" href="/user/meusInvestimentos/addInvestiment">
                    <img class="icon" src="/images/iconAdd,headerInvestment.png"/>
                </a>
            </li>
        </ul>
    </div>
</header>