<<<<<<< HEAD
<style>
    header {
        display: flex;
    }
    h1 {
        font-size: 30px;
        width: 50%;
        margin-left: 10%;
        margin-top: 3%;
    }
    .menuInvestiment{
        width: 50%;
        margin-left: 40%;
        margin-top: 3%;
    
    }
    .menuInvestiment img {
        width: 30px;
        height: 30px;
    }
    .menuInvestiment__item {
        display: inline;
    }
    .menuInvestiment li a {
        border-bottom: 3px solid black;
    }
    .menuInvestiment li a:hover{
        border-bottom: 3px solid #33cc33;
    }
</style>

<header>
    <h1>Meus Investimentos</h1>
    <nav class="menuInvestiment">
        <ul>
            <li class="menuInvestiment__item">
                <a class="menuInvestiment__item__link" href="/user/meusInvestimentos">
                    <img class="icon" src="/images/iconGrafico,headerInvestment.jpg"/>
                </a>
            </li>
            <li class="menuInvestiment__item">
                <a class="menuInvestiment__item__link" href="/user/meusInvestimentos/listInvestment">
                    <img class="icon" src="/images/iconLista,headerInvestment.png"/>
                </a>
            </li>
            <li class="menuInvestiment__item">
                <a class="menuInvestiment__item__link"  href="/user/meusInvestimentos/addInvestiment">
=======
<link rel="stylesheet" href="/css/partials/meusInvestimentos/headerInvestment.css">

<header>
    <h1 class="titleDoHeader">Meus Investimentos</h1>
    <div class="menuInvestiment">
        <ul>
            <li class="menuInvestiment_link">
                <a class="menuInvestiment_link_a" href="/user/meusInvestimentos">
                    <img class="icon" src="/images/iconGrafico,headerInvestment.jpg"/>
                </a>
            </li>
            <li class="menuInvestiment_link">
                <a class="menuInvestiment_link_a" href="/user/meusInvestimentos/listInvestment">
                    <img class="icon" src="/images/iconLista,headerInvestment.png"/>
                </a>
            </li>
            <li class="menuInvestiment_link">
                <a class="menuInvestiment_link_a" href="/user/meusInvestimentos/addInvestiment">
>>>>>>> adac198d8be7c49c57f99a4caed075aaff27ee64
                    <img class="icon" src="/images/iconAdd,headerInvestment.png"/>
                </a>
            </li>
        </ul>
    </nav>
</header>