<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <link rel="stylesheet" href="/css/partials/meusInvestimentos/main.css">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>DetoxFin | Investimentos</title>
    </head>
    <body>
        <%- include("../../../partials/headerinterno.ejs",{
            usuario
        })%>
        <main class="mainContainer">
            <%- include  ../../../partials/menuLateral.ejs %>
            
            <section class="mainContainer__cardPrincipal">
                    
                <%-include headerInvestimentos.ejs %>
                <div>
                    
                </div>
            </section>
        </main>
 
      
           
    </body>
</html>