<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>DetoxFin</title>
    <link rel='stylesheet' href='/css/reset.css' />
    <link rel="stylesheet" href="/css/index-external/main.css">
    <link rel="stylesheet" href="/css/index.css">
  </head>
  <body>
    <!--Cabecalho-->
    <%- include partials/header.ejs  %>
    <!--Conteudo central-->
    <main class="mainContainer container">

      <!--container central-->
      <section class="mainContainer__frase">
          <article class="mainContainer__frase__fraseButton " >
              <p class="mainContainer__frase__fraseButton__phrase">"If you don't find a way to make money while you sleep you will work until you die" -Warren Buffet</p>
              <p class="mainContainer__frase__fraseButton__phrase">Na DetoxFin você ira assumir o controle da sua vida financeira. 
                  Você tera nas suas mãos as ferramentas necessárias para administrar seu dinheiro e
                   parar de postergar sua independência financeira! </p>

                   <button class="mainContainer__frase__fraseButton__btn"><a href="/users/new">
                     Cadastra-se Agora</a></button>
          </article>
      </section>
      <hr>
      <section class="mainContainer__perfilInvestidor">
         <img src="/images/PerfilImagem.jpeg" alt="" srcset="" class="mainContainer__perfilInvestidor__img">
          <article class="mainContainer__perfilInvestidor__article">
              <span>Perfil Investidor</span>
              <h2>Já sabe qual é o seu perfil investidor?</h2>
              <p>
                  Saber qual é o seu é essencial para escolher as melhores aplicações financeiras para você!
              </p>
              <p>Seu perfil depende de varios fatores como seus objetivos, apelo pelo risco e tempo.
                  Faça o nosso teste e descubta seu perfil!
              </p>
          </article>
  
      </section>
      <hr>
      <!--Gerenciamento-->
          <section class="gerenciamento">
              <article class="gerenciamento1">
                  <h3>A detoxFin oferece uma carteira completa para voce conseguir analisar seus gastos!</h3>
                  <img src="/images/FotoCarteira.jpeg" alt="">
              </article>
            
              
              <article class="gerenciamento2">
                  <img src="/images/carteira2.png" alt="">
                  <h3>E outra para poder ficar de olho nos seus investimentos!</h3>
              </article>
          </section>
  </main>
  </body>
</html>