@import url(./components/buttons.css);
@import url(./partials/headerExterno/header.css);
@import url(./reset.css);
@import url(./auth/main.css);
@import url(./components/inputs.css);



.mainContainer{
    grid-column: 1/ span 12;
    padding: 0 auto;
    min-height: 100%;
}
.mainContainer__formRecovery{
   max-width:70%;
   padding-right: 20%;
}
.mainContainer__formRecovery__title{
    color: #ffff;
    font-size: 30px;
    font-weight: 300;
    padding-bottom: 50px;
}

.mainContainer__formRecovery__span{
    display: block;
    padding-top: 20px;
    color: #ffff;
    text-decoration: underline;
}