input {
    border: none;
    border-bottom: 1px solid;
    background-color: transparent;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
    width: 150%;
}
input::placeholder{
    color: white;
}

input:focus{
    border-bottom: 1px solid white;
    outline: none;
}

.mainContainer__containerLogin__field--invalid,.containerform__form_field--invalid
{
    border-color: red;
}


.mainContainer__containerLogin__field__error,.containerform__form_field__errorMessage{
    color: red;
    display: block;
    font-size: 15px;
}

