@import url('../../reset.css');
@import url('../headerInterno/header.css');
@import url('../menuLateral/menuLateral.css');
@import "https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css";

.mainContainer{
    display: flex;
    justify-content: space-between;
    height: 110vh;
}
/* Card Principal*/
.mainContainer__cardPrincipal{
    background-color: white;
    width: 85vw;
    height: 70vh;
    border-radius: 20px;
   
}
.formulario {
    margin-top: 3%;
    border: 2px solid #33CC33 ;
    border-radius: 15px;
    width: 80%;
    margin-left: 10%;
    padding: 2% 5%;
}
.title {
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
    font-weight: initial;
    
}
.container-button{
padding-top: 30%;
}

.button {
   font-size: 30px;
    width: 15%;
    background-color: #33CC33 ;
    border-radius: 20px;
    padding: 10px 15px;
    text-align: center;
    cursor: pointer;
    color: white;
    border: none;   
}
.formInvestment_field_label {
    font-size: 20px;
}
.control_opcao {
    margin-left: 10%;
}
.divisor {
    display: flex;
}


@media (max-width: 600px) {
    .mainContainer{
        height: 80vh;
    }
    .formulario {
        width: 100%;
    }
    
    .button {
        border-radius: 100px;
        width: 45%;
        margin: 15% 30.5%;
    }
}
.tipoInvestimento{
    min-height: 30px;
    border: thin solid ;
    background-color:transparent;
    text-align: center;
    padding-top: 2px;
}
