header {
    display: flex;
    
}
.titleDoHeader {
    font-size: 30px; 
    
}
.menuInvestiment img {
    width: 30px;
    height: 30px;
}
.menuInvestiment_link {
    display: inline;
}
.menuInvestiment_link_a {
    border-bottom: 3px solid black;
}
.menuInvestiment_link_a:hover{
    border-bottom: 3px solid #33cc33;
}

@media screen  and (min-width:0){
     header{
         flex-direction: column;
         justify-content: space-around;
     }
     .titleDoHeader{
        font-size: 20px;
        padding-left: 20%;
        margin-top: 20px;
     }
     .menuInvestiment{
            margin-top: 20px;
            padding-left: 30px;
     }
}

@media screen  and (min-width:700px){
    header{
        flex-direction: row;
        justify-content: space-around;        
    }
    .titleDoHeader{
        padding-top: 20px;

    }
    .menuInvestiment{
        
    }
}