@import url('../../reset.css');
@import url('../headerInterno/header.css');
@import url('../menuLateral/menuLateral.css');


.mainContainer{
    display: flex;
    justify-content: space-between;
    height: 60vh;
}
/* Card Principal*/
.mainContainer__cardPrincipal{
    background-color: white;
    width: 85vw;
    height: 70vh;
    border-radius: 20px;
    align-content: center;
    position: relative;
    bottom: 10vh;
}


h1 {
    color: black;
    font-size: 30px;
    margin-top: 3%;
    margin-left: 5%;
}

.botaoAdd {
    font-size: 20px;
    margin-top: 1%;
    margin-left: 80%;
    background-color: #33CC33 ;
    border-radius: 20px;
    padding: 10px 15px;
    text-align: center;
    cursor: pointer;
    color: white;
    border: none;   
}
