@import url(../../components/buttons/buttons.css);
@import url(../../components/inputs/inputs.css);
@import url(../../components/headerExterno/header.css);
.containerLogin__title{
    color: white;
    text-align: center;

}
.containerLogin__description{
    color: #ffff;

}

.containerLogin__passwordRecovery{
  margin-left: 30px;
  
}

.containerLogin__field__error{
  color:red;
}