<section class="mainContainer__cardPrincipal__carteira ">
    <section class="container ml-3">
        <section class="row ">     
            <section class="mainContainer__dadosContainer col-md-2 offset-sm-2 col-sm-8 ">
                <img class= "mainContainer__dadosContainer__img1" src="/images/carteira1.png"/> 
            </section>
        </section>
   </section>
</section>