.cabecalho {
  background-color: #3ccc33;
  display: grid;
  grid-template-columns: 1fr auto;
  padding-top: 30px;
  padding-left: 50px;
  height: 250px;
}
.cabecalho__logo {
  text-transform: uppercase;
  max-width: 200px;
  color: #ffffff;
  text-decoration: none;
}
.cabecalho__butons {
  padding-right: 50px;
}
.cabecalho__butons_btn {
  border: 1px solid white;
  color: #ffffff;
  height: 30px;
  width: 150px;
  margin-left: 30px;
  background: transparent;
}
.cabecalho__butons_btn >a{
  text-decoration: none;
  color: #ffffff;
}
.ativo {
  border: none;
  border-bottom: 1px solid #ffff;
  color: blue;
  height: 30px;
  width: 150px;
  margin-left: 30px;
  background: transparent;
}

.cabecalho__butons_btn--active {
  border: none;
  padding-bottom: 2px;
  border-bottom: 1px solid white;
}


@media screen  and (min-width:0) {
  .cabecalho__butons {
    margin-left: 50px;
  }
  .cabecalho__butons_btn  + .cabecalho__butons_btn {
    margin-top: 10px;
   
  }
}
