<section class="mainContainer__cardPrincipal">
  <div class="container mt-5">
    <div
      id="carouselExampleDark"
      class="carousel carousel-dark slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#carouselExampleDark"
          data-bs-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Slide 1"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleDark"
          data-bs-slide-to="1"
          aria-label="Slide 2"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleDark"
          data-bs-slide-to="2"
          aria-label="Slide 3"
        ></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="1000">
          <img
            src="/images/mitoseVerdadesimg.png"
            class="d-block carousel-img"
            alt="..."
          />
          <div class="carousel-caption d-block">
            <h5 class="carousel-caption__title">
              Mitos e verdades sobre investimentos
            </h5>
            <p class="carousel-caption__description">
              Entenda mais sobre como investir em ações no exterior.
            </p>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="1000">
          <img
            src="/images/guiaB3.png"
            class="d-block carousel-img"
            alt="..."
          />
          <div class="carousel-caption d-block">
            <h5 class="carousel-caption__title">Guia B3 sobre Ações</h5>
            <p class="carousel-caption__description">
              O Mercado de ações brasileiro é centenário, transparente,bem
              regulado e oferece boa liquidez.
            </p>
          </div>
        </div>
        <div class="carousel-item">
          <img
            src="/images/crisesMercadoFinanceiroImg.png"
            class="d-block carousel-img"
            alt="..."
          />
          <div class="carousel-caption d-block">
            <h5 class="carousel-caption__title">
              Histórico de crises do mercado financeiro.
            </h5>
            <p class="carousel-caption__description">
              Ao nos depararmos em uma crise muito aguda vem sempre uma
              comparação com as anteriores.
            </p>
          </div>
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleDark"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleDark"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</section>
