<section class="row container__imagem">
    <section class="mainContainer__dadosContainer offset-3 col">
      <img
        class="mainContainer__dadosContainer__img1"
        src="/images/grafico1.PNG"
      />
    </section>

    <section
      class="mainContainer__dadosContainer col-md-2 offset-2 col-sm-4"
    >
      <img
        class="mainContainer__dadosContainer__img1"
        src="/images/grafico2.PNG"
      />
    </section>
  </section>