@import url('../../../components/buttons/buttons.css');
@import url('../../../components/inputs/inputs.css');

.mainContainer {
    background-color: #33cc33;

    height: 75vh;
  }

.mainContainer__containerform__title{
    color: white;
    font-weight:lighter;
    text-align: center;
    
  
}


  .containerform__form_field {
    width: 60%;
  }

  .btn{
    width: 60%;    
    margin-left: 20%;
  }
  