@import url(./form.css);
@import url(../components/headerExterno/header.css);
@import url(../../../reset.css);


.mainContainer {
    background-color: #33cc33;

    height: 75vh;
  }

.mainContainer__containerform__title{
    color: white;
    font-weight:lighter;
    text-align: center;
    
  
}


  .containerform__form_field {
    width: 60%;
  }






