
        <!DOCTYPE html>
        <html lang="pt-br">
            <head>
                <meta charset="UTF-8">
              <link rel="stylesheet" href="/css/partials/indexInterno/index.css">
              <link rel="stylesheet" href="/css/partials/menuLateral"> 
              <link rel="stylesheet" href="/css/partials/headerInterno/header.css">
              <link rel="stylesheet" href= "/css/reset.css">
              <link rel="stylesheet" href="/css/partials/IndexMinhaCarteira/addCarteira.css">
                <meta http-equiv="X-UA-Compatible" content="IE=edge">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <title>Document</title>
            </head>
            <body>
                <%- include("../../../partials/headerinterno.ejs",{
                    usuario
                })%>
                <main class="mainContainer">
                    <%- include  ../../../partials/menuLateral.ejs %>
        
                    <section class="mainContainer__cardPrincipal">
                        
                        <%- include headerMinhaCarteira %>
                    
                        <div class="formulario">

                            <h1 class="title">Adicionar na wallet</h1>

                            <form class="formInvestment" name="gasto/ganho" action="/user/minhaCarteira/addCarteira" method="POST">
                                <div class="divisor">
                                    <div class="first">
                                        <!--Nome-->
                                        <div class="field">
                                            <label class="field-label" for="nome">Nome</label>
                                            <div class="control">
                                                <input class="input" type="text" name="nome" autocomplete="off" required/>
                                            </div>
                                        </div>
                                        <!--Data-->
                                        <div class="field">
                                            <label class="field-label" for="date">Data</label>
                                            <div class="control">
                                                <input class="input" type="date" name="date" autocomplete="off" required/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="second">
                                        <!--Valor-->
                                        <div class="field">
                                            <label class="field-label" for="valor">Valor(R$)</label>
                                            <div class="control">
                                                <input class="input" type="number" name="valor" autocomplete="off" required/>
                                            </div>
                                        </div>
                                        <!--Ganho ou Gasto-->
                                        <div class="field">
                                            <label class="field-label">Tipo</label>
                                            <div class="control">
                                                <select id="tipo" class="input" onchange="gerarTipos(this.value)" >
                                                    <option></option>
                                                    <option  value="ganho">Ganho</option>
                                                    <option  value="gasto">Gasto</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <input class="button" type="submit" value="Adicionar">
                            </form>
                              
            
            
                               
                       

                 </section>
                 </main>
                
    </body>
</html>