<link rel="stylesheet" href="/css/partials/IndexMinhaCarteira/headerMinhaCarteira.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

<header class="container">
    <!-- <div class="row justify-content-start mt-3"> -->
    <h1 class="titleDoHeader">Minha Carteira</h1>
    <nav class="menuInvestiment " >
        
        <ul class='teste'>
            <li class="menuInvestiment_link">
                <a class="menuInvestiment_link_a" href="/user/minhaCarteira">
                    <img class="icon" src="/images/iconGrafico,headerInvestment.jpg"/>
                </a>
            </li>
            <li class="menuInvestiment_link">
                <a class="menuInvestiment_link_a" href="/user/minhaCarteira/listCarteira">
                    <img class="icon" src="/images/iconLista,headerInvestment.png"/>
                </a>
            </li>
            <li class="menuInvestiment_link">
                <a class="menuInvestiment_link_a" href="/user/minhaCarteira/addCarteira">
                    <img class="icon" src="/images/iconAdd,headerInvestment.png"/>
                </a>
            </li>
        </ul>
    </nav>
    </div>
</header>