
        <!DOCTYPE html>
        <html lang="pt-br">
            <head>
                <meta charset="UTF-8">
              <link rel="stylesheet" href="/css/partials/indexInterno/index.css">
              <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
              <link rel="stylesheet" href="/css/partials/IndexMinhaCarteira/minhaCarteira.css">
                <meta http-equiv="X-UA-Compatible" content="IE=edge">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <title>Document</title>
            </head>
            <body>
                <%- include ../../../partials/headerinterno.ejs%>
                <main class="mainContainer">
                    <%- include  ../../../partials/menuLateral.ejs %>
        
                    <section class="mainContainer__cardPrincipal">
                        
                        <%- include headerMinhaCarteira %>
                       
                        <section class="mainContainer__cardPrincipal__carteira ">
                            <section class="container ml-3">
                                <section class="row ">     
                                    <section class="mainContainer__dadosContainer col-md-2 offset-sm-2 col-sm-8 ">
                                        <img class= "mainContainer__dadosContainer__img1" src="/images/carteira1.png"/> 
                                    </section>
                                    
                               
                                </div>
                                </section>
                          
                    
                    
                    
                 </main>
                
                <footer>
                    <p class="copyright"> Copyright © 2021 DetoxFin</p>  
               
       
           


        <footer class="footer">footer</footer>
    </body>
</html>