<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <!--CSS Imports -->
    <link rel="stylesheet" href="/css/pages/internas/perfilInvestidor/index.css">
     
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body class="app">

        <%- include("../components/headerInterno.ejs",{
            usuario
        })%>

        <main class="mainContainer">
            <%- include  ../../../pages/internas/components/menuLateral.ejs %>

            <section class="mainContainer__cardPrincipal">
               
                <div class="logoPI">
                   
                    <img src="/images/wallet.png"/>
                    <h1 class="logoPI_h1">DetoxFin</h1>

                </div>
                <h1 class="title">Perfil Investidor</h1>
                <h2 class="subTitle">Descubra agora seu perfil investidor</h2>
                <a href="/user/perfilInvestidor/pergunta1"><button class="botaoPerfil">Iniciar o teste</button></a>
              
            </section>
            
        </section>
        </main>
        <script src="/js/perfilInvestidor.js"></script>
      
    </body>
</html>