
.field-label, .field-option  {
    font-size: 20px;
}

@media screen and (min-width:0px) {
    #tipo,#date,.input{
        width: 90%;
        height: 30px;
    }
}

@media screen   and (min-width:750px) {
    #tipo,#date,.input{
        width: 50%;
        height: 30px;
    }
}