@import url('../../reset.css');
@import url('../headerInterno/header.css');
@import url('../menuLateral/menuLateral.css');
@import url('../../reset.css');
@import url('../headerInterno/header.css');
@import url('../menuLateral/menuLateral.css');

.mainContainer{
    display: flex;
    justify-content: space-between;
    height: 90vh;
}
/* Card Principal*/
.mainContainer__cardPrincipal{
    background-color: white;
    width: 85vw;
    height: 70vh;
    border-radius: 20px;
    align-content: center;

}
.mainContainer__dadosContainer{
    padding-top: 30px;
}

.box{
    height: 70vh;
    width: 70vw;
}
.dados__titles{
    color: #8888;
    font-weight: normal;
    font-size: 20px;
    text-transform: uppercase;
}
.mainContainer__dadosContainer__minhasInformacoes__descricao{
    font-size: 20px;
    text-transform: uppercase;
    padding-bottom: 5px;
    padding-right: 20%;
 
}
.mainContainer__dadosContainer__minhaOrganização__title{
    font-size: 20px;

}

.link-dados{
    font-size: 20px;
    text-decoration: none;
    color:blue

}
.link-dados:hover{
    color: #33cc33;
}


