<div id="QtitulosPrivados" class="step step-2 no-display">
  <div class="row">
    <div class="offset-1 col-md-5">
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="descricao"
          id="cdb"
          value="cdb"
        />
        <label class="form-check-label" for="cdb"> CDB </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="descricao"
          id="lc"
          value="lc"
        />
        <label class="form-check-label" for="lc"> LC </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="descricao"
          id="lca"
          value="lca"
        />
        <label class="form-check-label" for="lca"> LCA </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="descricao"
          id="lf"
          value="lf"
        />
        <label class="form-check-label" for="lf"> LF </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="descricao"
          id="lci"
          value="lci"
        />
        <label class="form-check-label" for="lci"> LCI </label>
      </div>
    </div>
    <div class="offset-1 col-md-5">
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="descricao"
          id="cri"
          value="cri"
        />
        <label class="form-check-label" for="cri"> CRI </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="descricao"
          id="cra"
          value="cra"
        />
        <label class="form-check-label" for="cra"> CRA </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="descricao"
          id="debentures"
          value="debentures"
        />
        <label class="form-check-label" for="debentures"> Debêntures </label>
      </div>

      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="juros"
          id="semjuros"
          value="semjuros"
        />
        <label class="form-check-label" for="semjuros">
          Sem pagamento de juros semestrais
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="juros"
          id="comjuros"
          value="comjuros"
        />
        <label class="form-check-label" for="comjuros">
          Com pagamento de juros semestrais
        </label>
      </div>
    </div>
    <div class="offset-md-3 col-md-9">
      <label class="formInvestment_field_label" for="text">Orgão Emissor</label>
      <div class="control">
        <input class="input" type="text" name="emissor" autocomplete="off" />
      </div>

      <label class="formInvestment_field_label" for="date">Vencimento</label>
      <div class="control">
        <input class="input" type="date" name="finalDate" autocomplete="off" />
      </div>
    </div>
  </div>
</div>
