<div id="questionarioGasto" class="step step-2 no-display mt-4">
  <div class="row">
    <div class="offset-1 col">
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="descricao"
          id="aluguel"
          value="aluguel"
        />
        <label class="form-check-label" for="aluguel"> Aluguel </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="descricao"
          id="academia"
          value="academia"
        />
        <label class="form-check-label" for="academia"> Academia </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="descricao"
          id="planocelular"
          value="planocelular"
        />
        <label class="form-check-label" for="planocelular">
          Plano de Celular
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="descricao"
          id="prestacao"
          value="prestacao"
        />
        <label class="form-check-label" for="prestacao"> Prestação </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="descricao"
          id="conta"
          value="conta"
        />
        <label class="form-check-label" for="conta"> Conta </label>
      </div>
    </div>
    <div class="offset-1  col">
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="descricao"
          id="combustivel"
          value="combustivel"
        />
        <label class="form-check-label" for="combustivel"> Combustivel </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="descricao"
          id="restaurante"
          value="restaurante"
        />
        <label class="form-check-label" for="restaurante"> Restaurante </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="descricao"
          id="mercado"
          value="mercado"
        />
        <label class="form-check-label" for="mercado"> Mercado </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="descricao"
          id="beleza"
          value="beleza"
        />
        <label class="form-check-label" for="beleza"> Beleza </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="descricao"
          id="lazer"
          value="lazer"
        />
        <label class="form-check-label" for="lazer"> Lazer </label>
      </div>
    </div>
  </div>
  <div class="form-check outro">
    <label class="form-text" for="outro"> Outro </label>
    <input class="form-control" type="text" name="descricaoOutro" id="outro" />
  </div>
</div>
