@import url(./../components/header/header.css);
@import url(./../components/menuLateral/menuLateral.css);
@import url(./main/header/header.css);
@import url(../../../reset.css);
@import url(./main/grafico/grafico.css);
@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css");
.mainContainer{
    display: flex;
    justify-content: space-between;
    height: 90vh;
}
/* Card Principal*/
.mainContainer__cardPrincipal{
    background-color: white;
    width: 85vw;
    height: 70vh;
    border-radius: 20px;
    align-content: center;

}

.grafic {
    box-sizing: border-box small;
}