@import url(./../components/header/header.css);
@import url(./../components/menuLateral/menuLateral.css);
@import url(./main/header/header.css);
@import url(../../../reset.css);


.mainContainer{
    display: flex;
    justify-content: space-between;
    height: 90vh;
}
/* Card Principal*/
.mainContainer__cardPrincipal{
    background-color: white;
    width: 85vw;
    height: 70vh;
    border-radius: 20px;
    align-content: center;

}


.grafico_div_h4h5 {
    margin-top: 3%;
    display: block;
    text-align: center;
    justify-self: center;
}
.grafico_div_h4 {
    font-size: 25px;
    font-weight: initial;
}
.grafico_div_h5 {
    font-size: 20px;
    font-weight: initial;
}
.titleDoHeader {
   margin-left: 5px;
    font-weight: initial;

}


@media screen and (min-width:0) {
    .titleDoHeader{
        font-size: 20px;
    }
}


@media screen and (min-width:750px) {
    .titleDoHeader{
        font-size: 30px;
    }
}

.graficoCarteira, .graficoInvestimento {
    width: 50%;
    height: 50%;
    padding: 2% 5%;
}

.titleCarteira, .titleInvestimento {
    font-size: 30px;
    font-weight: initial;
    margin-left: 5%;
    text-align: center;

}

.graficos {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}