<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <link rel="stylesheet" href="/css/reset.css">
        <link rel="stylesheet" href="/css/pages/externas/recoverypass/main.css">
        <meta charset="UTF-8">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" >
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>DetoxFin</title>
   
    </head>
    <body>
    <%- include ../components/header.ejs  %>
    <main class="mainContainer">
        <%- include ./components/formulario.ejs%>
    </main>
          <script src="../js/validateFields.js"></script>
    </body>
</html>