
.titleDoHeader {
   
    font-weight: initial;
}


.menuInvestiment img {
    width: 25px;
    height: 25px;
}
.menuInvestiment_link {
    display:flex;
}
.menuInvestiment_link_a {
    border-bottom: 3px solid black;
}
.menuInvestiment_link_a:hover{
    border-bottom: 3px solid #33cc33;
}


@media screen and (min-width:0) {
    .titleDoHeader{
        font-size: 20px;
    }
}


@media screen and (min-width:750px) {
    .titleDoHeader{
        font-size: 30px;
    }
}

@media (max-width: 768px) {
    .titleDoHeader{
        font-size: 27px;
        margin-left: 25px;
        margin-bottom: 20px;
    }
    .menuInvestiment {
        margin-bottom: 20px;
        margin-left: 50px;
    }
}