<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <link rel="stylesheet" href="/css/partials/perfilinvestidor/resultado.css">
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">  
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>DetoxFin | Investimentos</title>
    </head>
    <body>
        <%- include ../../../partials/headerinterno.ejs  %>

        <main class="mainContainer">
            
            <%- include  ../../../partials/menuLateral.ejs %>
            
            <section class="mainContainer__cardPrincipal">
                    
                <h1>Resultado Moderado</h1>

                <p>Você preza por segurança, mas gosta de aproveitar oportunidades para ganhar mais dinheiro. Por isso, invista a maior parte de suas economias em modalidades seguras e a menor parte em modalidades arrojadas. A orientação é que você conheça quais investimentos se adequam ao seu planejamento para realizar sonhos. Procure direcionar 85% do valor que investe em fundos de baixo risco, como poupança, CDB, LCA, LCI, tesouro direto e previdência – sendo que a primeira é melhor para realizar sonhos de curto prazo (em até um ano), as demais para sonhos de médio prazo (entre um e 10 anos) e a última para sonhos a serem conquistados daqui a dez anos ou mais. Já os outros 15% podem ir para modalidades arriscadas, como ações na bolsa de valores e títulos pós-fixados. Os rendimentos obtidos devem adiantar a conquista dos seus sonhos.</p>
                
            </section>
        </main>
 
      
           
    </body>
</html>