<header class="cabecalho">
    <a class="cabecalho__logo" href="/">DetoxFin</a>
    <div class="cabecalho__butons menu-desktop">
      <button class="cabecalho__butons_btn link" ><a  href="/users/new">Cadastra-se</a></button>
      <button class="cabecalho__butons_btn  link " ><a href="/users/auth">Fazer Login</button></a>
    </div>
    <ul class="cabecalho__moedas">
      <h3 class="cabecalho__moedas__title">Cotações do dia:</h3>
      <li class="cabecalho__moedas__item usd">
        Dolar Comercial:
      </li>
      <li class="cabecalho__moedas__item eur">Euro:

      </li>
      <li class="cabecalho__moedas__item btc">Bitcoin:</li>
    </ul>

    <script src="/js/Api.js"></script>


    
</header>
