<!DOCTYPE html>
<html>
  <head>
    <title>DetoxFin</title>
    <link rel="stylesheet" href="/css/singup.css">
  </head>
  <body class="app">
    <%- include ../partials/header.ejs  %>
    <main class="mainContainer">
        <section class="mainContainer__containerform">
            <h1 class="mainContainer__containerform__title"> Cadastre-se</h1>
            <form action="/users/new" method="post" name="newUserForm" class="containerform__form" >
                <input class="containerform__form_field" type="text" name="nome"  placeholder="Nome Completo" onfocus="this.placeholder =''" onblur="this.placeholder='Nome Completo'"   autocomplete="off" >
                <input class="containerform__form_field" type="email" name="email" placeholder="E-mail" onfocus="this.placeholder =''" onblur="this.placeholder='E-mail'"  autocomplete="off" >
                <input class="containerform__form_field" type="password" name="senha" placeholder="Senha" onfocus="this.placeholder ='' "  onblur="this.placeholder='Senha'">
                <input class="containerform__form_field" type="password" name="senhaConfirmada" placeholder="Confirmação de Senha" onfocus="this.placeholder ='' "  onblur="this.placeholder='Confirmação de Senha'"  >

                <button class="btn" type="submit">Cadastrar Agora</button>
            </form>
        </section>
        <section class="">
triangulo

        </section>
    </main>
    <footer class="copyright">
      copurh
    </footer>
    <script src="/js/validaSenha.js"></script>
  </body>
  
</html>
