<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>DetoxFin</title>
        <link rel="stylesheet" href="/css/recoverypass.css">
    </head>
    <body class="app">
        <header>

            
    <%- include ../partials/header.ejs  %>
        </header>
        <main class="mainContainer">
            <section class="mainContainer__formRecovery">

        <h1 class="mainContainer__formRecovery__title"> Altere a sua senha em 1 minuto.</h1> 

        
        <input type="text" name="email"class="mainContainer__containerLogin__field"  placeholder="E-mail"onfocus="this.placeholder ='' "  onblur="this.placeholder='Email'" autocomplete="off" >
        <span class="containerform__form_field__errorMessage"></span>
        <button class="btn" type="submit">Enviar Email</button>
        <a href="/users/auth"><span class="mainContainer__formRecovery__span">Voltar ao login</span></a>

            </section>
            <section class="mainContainer__triangule">
                Triangulo
            </section>
        </main>
          <script src="../js/validateFields.js"></script>

        <footer class="copyright"></footer>
    </body>
</html>