<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="/css/partials/IndexMinhaCarteira/minhaCarteira.css">
    <link rel="stylesheet" href="/css/partials/cursos/cursos.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cursos | DetoxFin</title>
</head>
<body>
    
    <%- include ../../../partials/headerinterno.ejs%>
    <main class="mainContainer">
        <%- include  ../../../partials/menuLateral.ejs %>
           
                <section class="mainContainer__cardPrincipal">
                    <aside class="mainContainer__cardPrincipal___cardPrincipalAside"> 
                        <article class="mainContainer__cardPrincipal___cardPrincipalAside__grafico">
                            <img src="/images/cursosConcluidos.png" alt="" srcset="">
                                <ul class="mainContainer__cardPrincipal___cardPrincipalAside__menuLateral">
                                    <li class="itens"><a href="#">Bolsa de Valores</a></li>
                                    <li class="itens"><a href="#">Finanças Pessoas</a></li>
                                    <li class="itens"><a href="#">Riscos</a></li>
                                    <li class="itens"><a href="#">Educação Financeira</a></li>
                                    <li class="itens"><a href="#">Aprenda a Investir</a></li>
                                    <li class="itens"><a href="#">Parceiros</a></li>
                                </ul>
                        </article>
                    </aside>
                <section class="mainContainer__cardPrincipal__cursos">
              <h2 class="mainContainer__cardPrincipal__cursos__title">Cursos</h2>
              <div class="mainContainer__cardPrincipal__cursos__galery">
                 <img class="cursos-img" src="/images/MitosVerdades.jpeg" alt="" srcset="">
                 <img class="cursos-img" src="/images/Guiab3.jpeg" alt="" srcset="">
                 <img class="cursos-img" src="/images/HistoriaCrise.jpeg" alt="" srcset="">
              </div>
            </article>
        </aside>
          </section>
      
            </section>
         
    </main>
    <footer>
        <p class="copyright"> Copyright © 2021 DetoxFin</p>  
    </footer>
</body>
</html>