<div id="QfundoInvestimentoVariavel" class="step step-2 no-display">
  <div class="row">
    <div class="offset-1 col-md-5">
      <label class="formInvestment_field_label" for="text">Orgão Emissor</label>
      <div class="control">
        <input class="input" type="text" name="emissor" autocomplete="off" />
      </div>
    </div>
    <div class="offset-1 col-md-5">
      <label class="formInvestment_field_label" for="number"
        >CNPJ do Fundo</label
      >
      <div class="control">
        <input class="input" type="number" name="cnpj" autocomplete="off" />
      </div>
    </div>
    <div class="offset-1 offset-md-4">
      <div class="form-check ">
        <input
          class="form-check-input"
          type="radio"
          name="juros"
          id="semjuros"
          value="semjuros"
        />
        <label class="form-check-label" for="semjuros">
          Sem pagamento de juros semestrais
        </label>
      </div>
      <div class="form-check" >
        <input
          class="form-check-input"
          type="radio"
          name="juros"
          id="comjuros"
          value="comjuros"
        />
        <label class="form-check-label" for="comjuros">
          Com pagamento de juros semestrais
        </label>
      </div>
    </div>
  </div>
</div>
