<link rel="stylesheet" href="/css/pages/externas/recoverypass/components/formulario.css">


<section class="formRecovery row">

    <h1 class="formRecovery__title "> Altere a sua senha em 1 minuto.</h1> 

    <form action="post">    
        <input type="text" name="email"class="containerLogin__field offset-md-4" 
        placeholder="E-mail"onfocus="this.placeholder ='' " 
        onblur="this.placeholder='Email'" 
        autocomplete="off" >
    <span class="containerform__form_field__errorMessage"></span>
    <button class="btn" type="submit">Enviar Email</button>
    </form>
    
        <a href="/users/auth">
            <span class="formRecovery__span">
                Voltar ao login
            </span>
            </a>
</section>
