<link rel="stylesheet" href="/css/pages/internas/components/header/header.css">            
<header class="cabecalho">
            
            
    <a href="/user/minhaCarteira" class="title_logo "><img src="/images/logoBranco.png" class="cabecalho__logo" alt="">DetoxFin</a>

   
    <div class="usuarioDados">
        <span class="cabecalho__usuarioDados__nomeCliente"><%=usuario.nome%></span>
    </div>
</header>
 