<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <link rel="stylesheet" href="/css/partials/meusInvestimentos/meusInvestimentos.css">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>DetoxFin | Investimentos</title>
    </head>
    <body>
        <%- include ../../partials/headerinterno.ejs%>
        <main class="mainContainer">
            <%- include  ../../partials/menuLateral.ejs %>

            <h1>MEUS Investimentos</h1>            

        </main> 
    </body>
</html>