<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <!--CSS Imports -->
        <link rel="stylesheet" href="/css/reset.css">
        <link rel="stylesheet" href="/css/partials/perfilinvestidor/perguntas.css">
        <!--Font Awsome-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        
        
     
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body class="app">

        <%- include ../../partials/headerinterno.ejs %>

        <main class="mainContainer">
            <%- include  ../../partials/menuLateral.ejs %>

            <section class="mainContainer__cardPrincipal">
               
                <div class="logoPI">
                   
                    <img src="/images/wallet.png"/>
                    <h1>DetoxFin</h1>
                 
                </div>
    
                    <div class="perguntaPI">
                        <p>Qual o seu principal objetivo ao investir seu dinheiro?</p>
                    </div>
                
                    <div class="respostasPI">
                        <div class="resposta">
                            <p> Preservar meu patrimônio assumindo um menor risco   </p>
                        </div>
                    
                        <div class="resposta">
                            <p> Uma combinação entre preservação do patrimônio e sua valorização    </p>
                        </div>
                
                        <div class="resposta">
                            <p> Maximizar o potencial de ganho assumindo um maior risco  </p>
                    </div>
            
                <button class="botaoPerfil">Próximo</button> 
              
            </section>
            
        </section>
        </main>
<footer>

 <p class="copyright"> Copyright © 2021 DetoxFin</p>  
</footer>

      
    </body>
</html>