@import url('../../reset.css');
@import url('../headerInterno/header.css');
@import url('../menuLateral/menuLateral.css');
@import url('../../reset.css');
@import url('../headerInterno/header.css');
@import url('../menuLateral/menuLateral.css');





.mainContainer__cardPrincipal{
    background-color:white;
    width: 85vw;
    height: 70vh;
    border-radius: 20px;

    
}

.carousel-img{
    filter: brightness(60%);
}

.carousel-caption__title,.carousel-caption__description{
    color: #ffff;
}
   .carousel-caption__description{
    width: 80%;
    padding-left:20%;
}



@media screen and (min-width:700px) {
    .carousel-img{
        width: 50%;
        margin: auto;
 
    }
} 