<header class="container header_meusInvestimentos mt-5 mb-5 ml-5 ">
    <h1 class="titleDoHeader col-md-7">Meus Investimentos</h1>
    <nav class="menuInvestiment col-sm-12 col-md-5">
      <ul class="row">
        <li class="menuInvestiment_link col-2">
          <a class="menuInvestiment_link_a" href="/user/meusInvestimentos">
            <img class="icon" src="/images/iconGrafico,headerInvestment.jpg" />
          </a>
        </li>
        <li class="menuInvestiment_link col-2">
          <a
            class="menuInvestiment_link_a"
            href="/user/meusInvestimentos/listInvestimento"
          >
            <img class="icon" src="/images/iconLista,headerInvestment.png" />
          </a>
        </li>
        <li class="menuInvestiment_link col-2">
          <a
            class="menuInvestiment_link_a"
            href="/user/meusInvestimentos/addInvestimento"
          >
            <img class="icon" src="/images/iconAdd,headerInvestment.png" />
          </a>
        </li>
      </ul>
    </nav>
  </header>
  